* {
	margin: 0;
	padding: 0;
}

body {
	background: url("../../images/others/logbak1.jpg") no-repeat;
	background-size:100% 150%; 
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666;
	height:100%;
}

.login {
	width: 360px;
	height: 250px;
	margin: 120px 50px;
	border-radius: 5px;
	padding: 20px;
	border: 0px solid #696; text-align: center;
	/*添加阴影效果*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;background: #EEFF99;behavior: url(/PIE.htc);
	float:right;
}

.login .l_title span {
	font-size: 30px;
	color: #c5c6c9;
	float: left;
}

.login .l_title a {
	width: 28px;
	height: 28px;
	display: block;
	border: 1px solid #c5c6c9;
	float: right;
	border-radius: 14px;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	text-decoration: none;
	color: #c5c6c9;
}

.login .l_title a:hover {
	background: #000;
	color: #fff;
}

.login .l_user {
	width: 350px;
	height: 200px;
	border: 0px solid red;
	margin: 20px auto;
}

.login .l_user .name, .pass, .code {
	width: 350px;
	height: 48px;
	border: 1px solid #d9d9d9;
	outline: none;
	margin-bottom: 20px;
	line-height: 48px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #000;
	padding-left: 10px;
}

.login .l_user .sub {
	width: 342px;
	height: 45px;
	background: #cc0001;
	border: 0;
	color: #fff;
	font-size: 20px;
	font-family: "微软雅黑";
	cursor: pointer;
}

.login .l_user .sub:hover {
	background: #800080;
}

.clear {
	clear: both;
}

/* .logo {
	float: left;
    height: 85px;
    margin-top: 40px;
    margin-left: 100px;
    width: 184px;
} */

.erroinfo {
	float:left;
	margin-top: 5px;
	color:red;
}
.reghref {
	margin-top: 5px;
	margin-right: 20px;
	float:right;
}

.mid-header {
	float: left;
	width: 100%;
    height: 100px;
    margin-top: 0px;
    /* border-bottom: 1px solid #e5e5e5; */
    background-color: #E7981F;
}

.top-head {
	width: 1000px;
    height: 99px;
    margin: 0 auto;
}

.logo {
	float: left;
    height: 85px;
    margin-top: 8px;
    width: 184px;
}

.logo p a {
	display: block;
    height: 85px;
    width: 180px;
}