
.navWrap {
	width: 100%;
	height: 34px;
	background: #990000;
	position: relative;
	float: left;
}

.navCategoryMenu {
	margin-left: 135px;
}

.navCategoryMenu h2 {
	width: 190px;
	height: 34px;
	line-height: 34px;
	background: #ce171f;
	text-align: center;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	font-weight: 600;
	box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cart {
	font-size: 12px;
    line-height: 18px;
    color: #666;
    min-width: 1200px;
    width: 100%;
    float:left;
}

.all-wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


#cart_container, #order_container {
	margin: 30px 0
}

#cart-title {
	height: 36px;
	color: #000;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 36px;
	position: relative;
	overflow: hidden;
	border-bottom: 2px solid #bfa979;
	background: url('../../images/others/cart-title-sprite.png') -5px 0 no-repeat
}

#cart-title.checkout {
	background-position: -5px -52px
}

#cart-title span {
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0;
	bottom: 0
}

#cart_item_label {
	overflow: hidden
}

#cart_item_label li {
	float: left;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center
}

	.cart-main .item {
		margin-bottom: 10px
	}

.c_check {
	width: 50px
}

.c_pro {
	width: 100px
}

.c_pro2 {
	width: 203px;
}

.c_pro3 {
	width: 200px
}

.c_price {
	width: 265px
}

.c_num {
	width: 315px
}

.c_sum {
	width: 126px
}

.c_act {
	width: 130px
}

#cart_item_label .c_pro, #cart_item_label .c_pro3, #cart_item_label .c_pro2
	{
	text-align: left
}

.cart-item .item-goodsname {
	text-align: left;
	padding-right: 10px
}

.cart-item a:hover {
	color: #cc0001;
}

.seller_order_gift, .seller_order_promotion {
	text-align: left;
	padding: 2px 0 5px
}

.seller_order_gift h3, .seller_order_promotion h3 {
	font-weight: normal;
	font-size: 12px
}

.seller_order_gift li, .seller_order_promotion li {
	line-height: 15px;
	padding: 0 5px;
	list-style: inside circle
}

#btn-submit-cart {
	background: #cf000d;
	padding: 10px 35px;
	border: 0;
	color: #fff;
	font-family: "微软雅黑";
	border-radius: 3px;
}

#btn-submit-cart:hover {
	background: #cf000d
}

#btn-submit-cart span {
	font-size: 20px
}

#cart_goods_count_top {
	color: #777
}

#cart_goods_count_top b, #cart_goods_count b {
	color: #404040;
	margin: 0 3px;
	font-size: 14px;
	font-weight: bold
}

.action-clean {
	cursor: pointer
}

.seller_shipping_item {
	margin-bottom: 15px
}

.seller_shipping_tit {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	margin-bottom: 3px;
	padding: 5px 0 5px 0
}

.seller_shipping_method {
	width: 100%;
	border: 1px solid #dedede
}

.seller_shipping_method .c_name {
	width: 150px
}

.seller_shipping_method .c_price {
	width: 130px
}

.seller_shipping_method td {
	padding-left: 7px
}

.seller_shipping_method thead td {
	border-bottom: 1px dotted #dedede;
	background: #fefefe
}

.cart-main .seller_info th {
	padding-left: 19px;
	padding: 7px 0 7px 19px
}

.cart-main .checkout {
	width: 1118px;
	margin: 0 auto
}

.cart-main .checkout .seller_info td {
	text-align: left;
	padding-left: 10px
}

.cart-main.checkout {
	margin-bottom: 10px
}

.cart-main.checkout thead th {
	background: #fdfdfd;
	border-top: 1px solid #e6e6e6;
	color: #666;
	text-align: center;
	padding: 0;
	line-height: 26px;
	height: 26px;
	border-right: 1px solid #fff
}

.cart-main.checkout thead th.last {
	border-right: 0
}

.cart-main.checkout tbody {
	padding-left: 4px;
	padding-right: 4px
}

.cart-main.checkout tbody td {
	padding: 7px 0;
	border-bottom: 1px dashed #ddd;
	background: #fff
}

.cart-main.checkout .p-name {
	text-align: left
}

.cart-main.checkout .cart-item {
	border: 0
}

.cart-main.checkout .p-pic img {
	max-height: 50px;
	max-width: 50px
}

.cart-main.checkout .p-pic {
	width: 50px;
	height: 50px;
	line-height: 47px;
	*line-height: 50px;
	overflow: hidden;
	display: block
}

.cart-main.checkout .p-price {
	font-weight: normal
}

#order_cartitem .order-section-title {
	margin-bottom: 15px
}

.cart-main .p-adjunct td {
	border-top: 1px solid #e6e6e6;
	padding-top: 15px;
	padding-bottom: 8px
}

.seller-order-comment {
	text-align: left;
	position: relative;
	padding-left: 85px
}

.seller-order-comment .label {
	position: absolute;
	top: 1px;
	left: 0;
	color: #999
}

.seller-order-comment textarea {
	display: block;
	width: 360px;
	height: 20px;
	line-height: 18px;
	overflow: hidden;
	resize: none
}

.seller_subtotal_inner {
	text-align: right
}

.seller_subtotal_inner li {
	position: relative;
	overflow: hidden;
	clear: both;
	line-height: 22px
}

.seller_subtotal_inner label {
	float: left;
	display: block;
	width: 90px;
	margin-left: 90px
}

.seller_subtotal_inner span.price {
	float: left;
	width: 90px;
	color: #777
}

.seller_act td {
	padding-left: 10px
}

.order-invoice .order-section-title {
	display: none
}

.order-invoice td {
	text-align: left
}

.order-invoice table.info {
	width: auto;
	margin: 0
}

.order-invoice .extend-info {
	display: none
}

.order-invoice.expand .extend-info {
	display: block
}

.order-invoice .for_tax_company {
	visibility: hidden
}

.order-invoice.expand.company .for_tax_company {
	visibility: visible
}

.cc_pro {
	width: 80px
}

.cc_pro1 {
	width: 350px
}

.cc_pro2 {
	width: 203px;
}

.cc_price {
	width: 150px
}

.cc_num {
	width: 150px
}

.cc_sum {
	width: 150px
}

.complete-main .order-info-grid {
	margin: 10px 0
}

.complete-main .ps_1 .hl {
	color: #c1a25f
}

.complete-main .pay_status .inner_wrap {
	line-height: 24px
}

.complete-main .pay_status .ps_2 {
	margin-top: 10px
}

.complete-main .pay_status .inner_wrap .w1 {
	border: 1px solid #ddd
}

.complete-main .pay_status .inner_wrap .w2 {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center
}

.order-section-con .cart-item .p-title {
	overflow: hidden;
	height: 30px;
	line-height: 15px
}

.order-section-con .cart-item .p-adjunct {
	position: relative
}

.order-section-con .cart-item .p-adjunct .p-name b {
	background: #fff;
	font-size: 12px;
	font-weight: normal;
	left: 13px;
	position: absolute;
	top: 26px;
	filter: alpha(opacity = 80);
	opacity: .8;
	-moz-opacity: .8;
	-khtml-opacity: .8
}

.cart-main {
	border: 1px solid #e6e6e6;
	table-layout: fixed;
}

.cart-main caption {
	text-align: left;
	background-color: #efefef;
	border: 1px solid #e6e6e6;
	border-bottom: 0 none;
}

.cart-main thead {
	background-color: #efefef;
}

.cart-main thead th {
	font-size: 12px;
    color: #3c3c3c;
    font-weight: normal;
    text-align: left;
    border: 0;
}

.cart-main .p-subtotal {
    color: #d7000f;
    font-weight: bold;
}

.cart-main td {
	line-height: 20px;
	vertical-align: top;
	text-align: center;
	padding: 0px 0;
}

.cart-main .cart-item {
	border-bottom: 1px solid #efefef;
}

.cart-main .cart-item .last td {
	*border-bottom: 1px solid #efefef;
}

.cart-main .last td {
	padding-bottom: 15px;
}

.cart-main .p-info {
	text-align: left;
}

.cart-main .p-gift, .cart-main .p-promotion {
	clear: both;
}

.cart-main .p-pic {
	width: 80px;
	height: 80px;
	line-height: 78px;
	*line-height: 80px;
	border: 1px solid #dddddd;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	*font-size: 72px;
	font-family: Arial;
}

.cart-main .p-pic img {
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
}

.cart-main .p-adjunct .p-pic, .cart-main .p-packs-item .p-pic {
	float: left;
	margin-right: 10px;
}

.cart-main .cart-exchange .cart-item td, .cart-main .order-gift .cart-item td
	{
	padding-top: 15px;
	padding-bottom: 15px;
	*border-bottom: 1px solid #efefef;
}

.cart-main .order-price {
	padding: 15px 1px 10px;
	line-height: 30px;
	white-space: nowrap;
}

.cart-main .order-price ul {
	float: right;
}

.cart-main .warn-message {
	clear: both;
	width: 74px;
	margin: 2px auto;
	text-align: center;
	color: white;
	background-color: #ef4521;
	display: block;
}

.cart-main .p-quantity {
	width: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.cart-main .p-quantity a {
	float: left;
	width: 20px;
	height: 21px;
	overflow: hidden;
	border: 1px solid #A9A9A9;
	text-align: center;
	font: 14px/22px simsun, serif;
}

.cart-main .p-quantity input {
	float: left;
	width: 30px;
	height: 23px;
	line-height: 21px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #A9A9A9;
	text-align: center;
	padding: 0;
	margin: 0;
}

.price, .goods-item .g-price ins {
    color: #d7000f;
}

.cart-main {/* color:#666666; */
}
.cart-main caption {
	line-height: 36px;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
}
.cart-main a {
	color: #666666;
}
.cart-main a:hover {
	text-decoration: none;
}
.cart-main .col-1, .cart-main .col-3, .cart-main .col-4, .cart-main .col-5, .cart-main .col-6, .cart-main .col-7, .cart-main .col-8 {
	width: 100px;
}
.member-order .cart-main .col-1, .member-order .cart-main .col-3, .member-order .cart-main .col-4, .member-order .cart-main .col-5, .member-order .cart-main .col-6, .member-order .cart-main .col-7, .member-order .cart-main .col-8 {
	width: 80px;
}
.cart-main thead th {/* color:#3c3c3c; *//* font-weight:normal; *//* text-align:left; *//* border:0; */
}
.cart-main thead th a {
	color: #3c3c3c;
}
.cart-main .cart-product td, .cart-main .p-packs td, .cart-main .p-adjunct td {
	padding-top: 15px;
	padding-bottom: 8px;
}
.cart-main .p-title a:hover, .cart-main .p-gift a:hover, .cart-main .btn-goon:hover {
	text-decoration: underline;
	color: #cc0001;
}
.cart-main .p-spec {
	float: left;
	padding: 0 6px;
	line-height: 20px;
	margin-bottom: 6px;
	background-color: #efefef;
}

.cart-main .p-price {
	font-weight: bold
}
.cart-main .p-action a:hover {
	text-decoration: underline;
}
.cart-main .p-action i {
	padding: 0 3px;
	font-family: serif;
}
.cart-main .p-gift b, .cart-main .p-promotion b, .cart-main .p-adjunct .p-title b, .cart-main .p-packs-item .p-title b {
	color: #ef4521;
	font-weight: 400;
}
.cart-main .p-gift i {
	color: #999999;
}
.cart-main .p-promotion li {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cart-main .p-adjunct-icon, .cart-main .p-packs-icon {
	background-color: #efefef;
	float: right;
	padding: 5px 10px;
}
.cart-main .order-gift .p-price, .cart-main .order-gift .p-num, .cart-main .cart-exchange .p-price, .cart-main .cart-exchange .p-num, .cart-main .p-gift .p-price, .cart-main .p-gift .p-num, .cart-main .p-packs-item .p-price, .cart-main .p-packs-item .p-num {
	color: #999999;
}
.cart-main .cart-exchange .cart-subtitle th, .cart-main .order-gift .cart-subtitle th {
	font-weight: 400;
	font-size: 14px;
	height: 27px;
	text-align: left;
	background-color: #f6f6f6;
	padding-left: 10px;
	border-top: 1px solid #e6e6e6;
}
.cart-main .order-price {
	font-size: 14px;
}
.cart-main .order-price .btn-blue {
	font-size: 12px;
	color: white;
	margin-right: 10px;
}
.cart-main .order-price li {
	overflow: hidden;
	clear: both;
}
.cart-main .order-price .label {
	float: left;
	text-align: right;
	width: 200px;
}
.cart-main .order-price .label i {
	font-size: 12px;
}
.cart-main .order-price .price {
	float: left;
	text-align: left;
	width: 150px;
	padding-left: 5px;
/* 	color: #c1a25f; */
}
.cart-main .order-price .price b {
	font-weight: 400;
}
.cart-main .order-price .total {
	line-height: 40px;
}
.cart-main .order-price .total em, .cart-main .order-price .total .order-container .notice-box i, .order-container .notice-box .cart-main .order-price .total i {
	font-weight: bold;
}
.cart-main .order-price .total b {
	font: 24px/1.5 Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.cart-main .cart-left {
	text-align: left;
	padding: 10px 20px;
	background-color: #efefef;
	vertical-align: middle;
}
.cart-main .cart-right {
	text-align: right;
	background-color: #efefef;
}

address, em, i {
    font-style: normal;
}

button {
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
}

.gw_num {
	border: 1px solid #dbdbdb;
	width: 110px;
	line-height: 26px;
	overflow: hidden;
	line-height: 29px;
	margin: 0 auto;
}

.gw_num em {
	display: block;
	height: 26px;
	width: 26px;
	float: left;
	color: #7A7979;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer;
}

.gw_num .num {
	display: block;
	float: left;
	text-align: center;
	width: 52px;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	border: 0;
}

.gw_num .text_box {
	display: block;
	float: left;
	text-align: center;
	width: 52px;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	border: 0;
}

.gw_num em.add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}

a.anavi:link,a.anavi:visited,a.anavi:hover,a.anavi:active {
	color: #8C8A94;
	text-decoration: none;
}

/* 通用的link */
a, a.link, a:visited, a:active {
	color: #8C8A94;
	text-decoration: none;
}

a:hover {
	color: #cc0001;
	text-decoration: underline;
}

#cartEmptyBox {
	margin:30 auto;
	width: 90%;
	height: 50%;
	background-color: #ECECEC;
}

.cartEmptyCon {
    padding: 55px 0 0 296px;
}

.cartEmptyCon .empTit {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #ff9933;
    font-family: "Microsoft YaHei";
    position: relative;
}

.cartEmptyCon .empTit i {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: -140px -238px;
    position: absolute;
    left: -78px;
    top: -13px;
}
.cartIcon {
    background: url(../../images/others/cartIcon-gw-24.png) no-repeat;
}


/*登录弹窗start*/
.popMask{background:#333; width:100%; height:100%; z-index:999 ;position:fixed; left:0; top:0; opacity:0.3; filter:alpha(opacity=30); _width:0; _height:0; display:none; }
.loginBox{width:380px; height:350px; background:#999999; position:fixed; left:50%; top:50%; margin:-257px 0 0 -195px; _position:absolute; _top:expression(eval(document.documentElement.scrollTop)+400); border-radius:5px; box-shadow:0 0 6px 1px #828282; z-index:10001; padding:5px; display:none;}
.loginBox .loginCon{ background:#fff;  font-family:"宋体"; width:380px; height:349px;box-shadow:0 0 0 1px #e7e7e7 inset;}
.loginBox .loginTitle{ height:38px; line-height:38px; background:#f4f4f4; position:relative;}
.loginTitle li{ float:left; width:80px; height:38px; line-height:38px; font-size:14px; color:#999999; font-weight:bold; text-align:center; cursor:pointer;}
.loginTitle .cur{ color:#e10303; background:#fff;}
.loginBox .loginTitle i { background-position: -173px -109px; cursor: pointer; display: inline-block; height: 23px; position: absolute; right: 10px; top: 8px; width: 24px; }
.loginBox .loginMain{ background:#fff; height:272px;}
.tab-1,.regWrap{ width:266px; margin:0 auto; padding-top:27px;}
.addTab{width:266px; margin:40px auto; padding-top:27px; }
.regWrap{ padding-top:0px; height:400px;}
.loginMain .loginTab{ height:30px; line-height:30px; border-bottom:1px solid #f1f1f1; padding-top:10px;}
.loginMain .loginTab a{display:inline-block; height:30px; line-height:30px; width:35px; text-align:center; font-size:12px; margin-right:40px; font-weight:bold; color:#999;}
.loginMain .loginTab a.on{color:#cc0000; border-bottom:2px solid #cc0000; border-left:none; border-top:none; border-right:none;}
.loginMain .loginTab a:hover{text-decoration:none;}
.loginType{}
.loginItem{width:266px; height:36px; position:relative; margin-bottom:15px;}
.loginItem .filter{width:30px; height:36px; position:absolute; top:0; left:0; z-index:4;}
.loginItem .filter p{ display:inline-block; *display:inline; *zoom:1; margin-top:11px; color:#ccc; position:absolute; left:0; top:0; width:60px; padding-left:33px; z-index:5;}
.loginItem .form01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 211px;
	padding: 0 20px 0 33px;
	font-weight: 700;
	height: 34px;
	color: #999;
	border: 1px solid #dcdcdc;
	font-size: 12px;
	background: none;
	z-index: 3;
}

.loginItem .form01.on {border:1px solid #ff6666}
.loginItem .form01.focus{border:1px solid #6eb9e0}
.loginItem .filter .mark{float:left; display:inline-block; width:30px; height:35px; *display:inline; *zoom:1;}
.loginItem .filter .markdel { background-position: -35px -209px; cursor: pointer; display: none; float: left; height: 16px;left: 240px; position: absolute; top: 10px; width: 16px; z-index: 5;}
.userNameItem .filter .mark{ background-position:10px -98px;}
.passWordItem .filter .mark{ background-position:-17px -99px;}
.yzmItem .filter .mark{ background-position:-83px -100px;}
.loginItem .filter .userIconBox{display:inline-block; width:43px; height:40px; background:#fff; position:absolute; top:1px; left:1px; z-index:3;}
.loginItem .filter .userIcon{width:20px; height:20px; background-position:-51px 0;margin:12px 10px auto 13px;}
.loginItem .filter .status{display:inline-block; width:15px; height:15px; *display:inline; *zoom:1; position:absolute; left:240px; top:11px; display:none;}
.loginItem .filter .pwdIcon{width:16px; height:22px; background-position:-83px 0; margin:10px 11px auto 16px;}
.loginItem .filter .status.wrong{ background-position:-147px -116px;}
.loginItem .filter .status.right{ background-position:-127px -115px;}
.loginItem .mistakeTip,.loginItem .mistakeTip02{ padding:0 10px; height:20px; color:#fff; line-height:20px; position:absolute; bottom:-15px; right:0; display:none; z-index:5;}
.loginItem .mistakeTip{ background:#ed787f;}
.loginItem .mistakeTip02{background:#ccc;}
.yzmItem .yzm{position:absolute; left:156px; top:4px; height:28px;}
.yzmItem .form01{ width:114px; padding:0 110px 0 40px; }
.yzmItem .refresh{display:inline-block;}
.yzmItem .refresh i{width:20px; height:20px; z-index:5; position:absolute;top:9px; right:10px; background-position:-58px -108px;}
.loginBtn{ margin:25px 0 20px;}
.loginBtn input{ width:266px; height:34px; line-height:34px; color:#fff; border:1px solid #e10303; font-size:16px; background:#e10303; font-weight:bold; cursor:pointer; border:none;}
.moreChoice{margin-bottom:16px;}
.moreChoice .auto,.moreChoice .forgetPwd{ display:inline-block; *display:inline; *zoom:1;}
.moreChoice .freeReg{color:#0066cc; display:inline-block; *display:inline; *zoom:1; float:right;}
.moreChoice .forgetLine{float:right; padding:0 3px; position:relative; top:-2px; color:#999;}
.moreChoice .auto{float:left;color:#999;}
.moreChoice .forgetPwd{float:right;color:#0066cc;}
.moreChoice .auto input{height:auto;border:0; display:inline-block; vertical-align:middle; width:12px; height:12px; overflow:hidden;}
.moreChoice .auto label{ display:inline-block; vertical-align:middle; padding-left:8px;}
.cooperate p{margin:0 0 11px 0;color:#999;}
.cooperateWay{width:266px;height:42px;margin:0 auto;}
.cooperateWay a{display:inline-block; float:left; margin-right:18px;}
.cooperateWay a i{float:left;display:inline-block;*display:inline;*zoom:1;width:27px;height:27px;}
.cooperateWay .qq i{background-position:0 -141px;}
.cooperateWay .sina i{background-position:-44px -141px;}
.cooperateWay .aliPay i{background-position:-89px -141px;}
.cooperateWay .baidu i{background-position:-133px -141px;}
.cooperateWay .qq:hover i{background-position:0 -176px;}
.cooperateWay .sina:hover i{background-position:-44px -176px;}
.cooperateWay .aliPay:hover i{background-position:-89px -176px;}
.cooperateWay .baidu:hover i{background-position:-133px -176px;}
.formWrap{ width:100%;}
.regAccInfor{ margin-top:15px;}
.regAccInfor .regInput{ width:259px; padding-left:5px; background:none; height:34px; line-height:34px; position:relative; border:1px solid #dcdcdc; z-index:3; font-weight:700; color:#999; font-size:14px; float:left;}
.regAccInfor .regInput.on{ border:1px solid #ff6666;}
.regAccInfor .userAccountNameByEmail{ width:259px; padding-left:5px;}
.regLabel{ width:230px; height:42px; line-height:42px; text-align:right; font-size:16px; padding-right:30px; float:left;}
.regInputBox{ height:36px; width:266px; float:left; position:relative;}
.regInputBox p{ position:absolute; left:6px; top:0; height:36px; line-height:36px; color:#999;}
.regInputBox .regPointIcon{ display:inline-block; width:15px; height:15px; position:absolute; top:11px; *+top:12px; _top:14px; right:10px; z-index:4;}
.regInputBox .regPointIcon.regFalse{ background-position:-147px -116px;}
.regInputBox .regPointIcon.regTrue{background-position:-127px -115px;}
.regInputBox .regPoint{ display:inline-block; height:20px; line-height:20px; color:#fff; padding:0 10px; position:absolute; top:31px; right:0px; z-index:5;}
.regInputBox .regPoint.poiFalse{ background:#ed787f;}
.regInputBox .regPoint.poiTrue{ background:#ccc;}
.regInputBox-code .regPoint{ right:113px;}
.regInputBox-code .regPointIcon{ right:120px;}
.regInputBox .regCap{ display:inline-block; width:74px; height:34px; position:absolute; float:left; text-align:right;}
.regInputBox .regCapIcon{ display:inline-block; height: 20px; width: 20px;background-position: -58px -108px; cursor:pointer; position:absolute; right:10px; top:9px;}
.regAgreeBox{ line-height:22px; position:relative; margin-top:13px;}
.regAgreeBox .regAgrInput{ height:12px; width:12px; overflow:hidden; display:inline-block; vertical-align:middle;  border:none;}
.regAgreeBox .regAgree{ display:inline-block; color:#999;  vertical-align:middle; margin-left:2px; margin-top:2px;}
.regAgreeBox .regAgree a{ color:#0066cc;}
.regAgreeBox .regAgree a:hover{ color:#0066cc;}
.regAccBut{ position:relative; height:48px;}
.regAccBut .regAgreePoint{ color:#cc0000; position:absolute; left:0; top:25px;}
.regInputBox .regSub{ width:266px; height:34px; font-size:16px; font-weight:bold; line-height:33px; color:#fff; border:none; background:#e10303; cursor:pointer; margin-top:-8px;}
.regAccInfor .regInputChe{ width:146px; height:34px; border:1px solid #dcdcdc; background:none; position:relative; z-index:3; font-weight:700; padding-left:5px;}
.qjwSubmit1{ color:#666; text-align:center; width:112px; height:34px; line-height:34px; display:block; font-size:12px; border-right:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f4f4f4; cursor:pointer; overflow:hidden; float:right;}
.qjwSubmit3{ color:#666; text-align:center; width:112px; height:34px; line-height:34px; display:block; font-size:12px; border-right:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f4f4f4; cursor:pointer; overflow:hidden; float:right;}
.regCheck{ float:left; height:36px; width:153px;}
.qjwSubmit2{ color:#666; width:112px; height:34px; line-height:34px; display:inline-block; vertical-align:middle; text-align:center; border-right:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f4f4f4; cursor:pointer; font-size:12px; overflow:hidden; float:right;}
.qjwSubmit2 em{ float:none; color:#cc0000; margin-right:3px; font-style:normal;}
.qjwSubmit4{ color:#666; width:112px; height:34px; line-height:34px; display:inline-block; vertical-align:middle; text-align:center; border-right:1px solid #cccccc; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f4f4f4; cursor:pointer; font-size:12px; overflow:hidden; float:right;}
.qjwSubmit4 em{ float:none; color:#cc0000; margin-right:3px; font-style:normal;}
.regInputBox-yzCode{ height:34px; width:264px; border:1px solid #dcdcdc;}
.regInputBox-yzCode.on{ border:1px solid #ff6666;}
.regInputBox-yzCode .regPoint{ right:-1px;}
.regInputBox-yzCode .yzm{position:absolute; left:0px; top:3px; height:28px;}
.regAccInfor .yzCode{ width:149px; float:left; border:none;}
.loginMain .bdOn{ border:1px solid #6eb9e0;}
.regSuccessCon{ padding-top:66px; text-align:center;}
.regSuccessCon i{ display:inline-block; width:48px; height:48px; background-position:-84px -278px;}
.regSuccessCon .tit{ color:#333; font-weight:bold; font-size:14px; padding-top:10px;}
.regSuccessCon .pro{ font-size:14px; padding:12px 0 14px;}
.regSuccessCon a{ display:inline-block; width:78px; height:34px; line-height:34px; font-size:14px; color:#fff; font-weight:bold; background:#e10303;}
.regSuccessCon a:hover{ text-decoration:none; color:#fff;}
.regSuccessCon .bot{ color:#999; padding-top:90px;}

/*登录弹窗end*/



