@charset "utf-8"; 

#cart_container, #order_container {
	margin: 30px 0
}

#cart-title {
	height: 36px;
	color: #000;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 36px;
	position: relative;
	overflow: hidden;
	border-bottom: 2px solid #bfa979;
	background: url('../../images/others/cart-title-sprite.png') -5px 0 no-repeat
}

#cart-title.checkout {
	background-position: -5px -52px
}

#cart-title span {
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0;
	bottom: 0
}

#cart_item_label {
	overflow: hidden
}

#cart_item_label li {
	float: left;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center
}

.cart-main.item {
	margin-bottom: 10px
}

.c_check {
	width: 50px
}

.c_pro {
	width: 100px
}

.c_pro2 {
	width: 330px
}

.c_pro3 {
	width: 200px
}

.c_price {
	width: 130px
}

.c_num {
	width: 130px
}

.c_sum {
	width: 130px
}

.c_act {
	width: 130px
}

#cart_item_label .c_pro, #cart_item_label .c_pro3, #cart_item_label .c_pro2
	{
	text-align: left
}

.cart-item .item-goodsname {
	text-align: left;
	padding-right: 10px
}

.cart-item a:hover {
	color: #c1a25f
}

.seller_order_gift, .seller_order_promotion {
	text-align: left;
	padding: 2px 0 5px
}

.seller_order_gift h3, .seller_order_promotion h3 {
	font-weight: normal;
	font-size: 12px
}

.seller_order_gift li, .seller_order_promotion li {
	line-height: 24px;
	padding: 0 5px;
	list-style: inside circle
}

#btn-submit-cart {
	background: #c1a25f;
	padding: 10px 35px;
	border: 0;
	color: #fff
}

#btn-submit-cart:hover {
	background: #b4985c
}

#btn-submit-cart span {
	font-size: 20px
}

#cart_goods_count_top {
	color: #777
}

#cart_goods_count_top b, #cart_goods_count b {
	color: #404040;
	margin: 0 3px;
	font-size: 14px;
	font-weight: bold
}

.action-clean {
	cursor: pointer
}

.seller_shipping_item {
	margin-bottom: 15px
}

.seller_shipping_tit {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	margin-bottom: 3px;
	padding: 5px 0 5px 0
}

.seller_shipping_method {
	width: 100%;
	border: 1px solid #dedede
}

.seller_shipping_method .c_name {
	width: 150px
}

.seller_shipping_method .c_price {
	width: 130px
}

.seller_shipping_method td {
	padding-left: 7px
}

.seller_shipping_method thead td {
	border-bottom: 1px dotted #dedede;
	background: #fefefe
}

.cart-main .seller_info th {
	padding-left: 19px;
	padding: 7px 0 7px 19px
}

.cart-main.checkout {
	width: 1118px;
	margin: 0 auto
}

.cart-main.checkout .seller_info td {
	text-align: left;
	padding-left: 10px
}

.cart-main.checkout {
	margin-bottom: 10px
}

.cart-main.checkout thead th {
	background: #fdfdfd;
	border-top: 1px solid #e6e6e6;
	color: #666;
	text-align: center;
	padding: 0;
	line-height: 26px;
	height: 26px;
	border-right: 1px solid #fff
}

.cart-main.checkout thead th.last {
	border-right: 0
}

.cart-main.checkout tbody {
	padding-left: 4px;
	padding-right: 4px
}

.cart-main.checkout tbody td {
	padding: 7px 0;
	border-bottom: 1px dashed #ddd;
	background: #fff
}

.cart-main.checkout .p-name {
	text-align: left
}

.cart-main.checkout .cart-item {
	border: 0
}

.cart-main.checkout .p-pic img {
	max-height: 50px;
	max-width: 50px
}

.cart-main.checkout .p-pic {
	width: 50px;
	height: 50px;
	line-height: 47px;
	*line-height: 50px;
	overflow: hidden;
	display: block
}

.cart-main.checkout .p-price {
	font-weight: normal
}

#order_cartitem .order-section-title {
	margin-bottom: 15px
}

.cart-main .p-adjunct td {
	border-top: 1px solid #e6e6e6;
	padding-top: 15px;
	padding-bottom: 8px
}

.seller-order-comment {
	text-align: left;
	position: relative;
	padding-left: 85px
}

.seller-order-comment .label {
	position: absolute;
	top: 1px;
	left: 0;
	color: #999
}

.seller-order-comment textarea {
	display: block;
	width: 360px;
	height: 20px;
	line-height: 18px;
	overflow: hidden;
	resize: none
}

.seller_subtotal_inner {
	text-align: right
}

.seller_subtotal_inner li {
	position: relative;
	overflow: hidden;
	clear: both;
	line-height: 22px
}

.seller_subtotal_inner label {
	float: left;
	display: block;
	width: 90px;
	margin-left: 90px
}

.seller_subtotal_inner span.price {
	float: left;
	width: 90px;
	color: #777
}

.seller_act td {
	padding-left: 10px
}

.order-invoice .order-section-title {
	display: none
}

.order-invoice td {
	text-align: left
}

.order-invoice table.info {
	width: auto;
	margin: 0
}

.order-invoice .extend-info {
	display: none
}

.order-invoice.expand .extend-info {
	display: block
}

.order-invoice .for_tax_company {
	visibility: hidden
}

.order-invoice.expand.company .for_tax_company {
	visibility: visible
}

.cc_pro {
	width: 80px
}

.cc_pro1 {
	width: 350px
}

.cc_pro2 {
	width: 238px
}

.cc_price {
	width: 150px
}

.cc_num {
	width: 150px
}

.cc_sum {
	width: 150px
}

.complete-main .order-info-grid {
	margin: 10px 0
}

.complete-main .ps_1 .hl {
	color: #c1a25f
}

.complete-main .pay_status .inner_wrap {
	line-height: 24px
}

.complete-main .pay_status .ps_2 {
	margin-top: 10px
}

.complete-main .pay_status .inner_wrap .w1 {
	border: 1px solid #ddd
}

.complete-main .pay_status .inner_wrap .w2 {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center
}

.order-section-con .cart-item .p-title {
	overflow: hidden;
	height: 30px;
	line-height: 15px
}

.order-section-con .cart-item .p-adjunct {
	position: relative
}

.order-section-con .cart-item .p-adjunct .p-name b {
	background: #fff;
	font-size: 12px;
	font-weight: normal;
	left: 13px;
	position: absolute;
	top: 26px;
	filter: alpha(opacity = 80);
	opacity: .8;
	-moz-opacity: .8;
	-khtml-opacity: .8
}

/* -------------------------------------------- */

