.main {
	width: 100%;
    margin: 0px auto;
    float: left;
}

.main2 {
	width: 80%;
    margin: 0px auto;
    background: #fff;
}

.navWrap {
	width: 100%;
	height: 34px;
	background: #990000;
	position: relative;
	float: left;
}

.navCategoryMenu {
	margin-left: 135px;
}

.navCategoryMenu h2 {
	width: 190px;
	height: 34px;
	line-height: 34px;
	background: #ce171f;
	text-align: center;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	font-weight: 600;
	box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
}


.detail-guide {
	width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: "宋体";
    margin: 0 auto;
}

.detail-guide strong {
	color: #333;
	padding-right: 5px
}

.detail-guide 
a {
	color: #c41921;
	padding: 0 5px
}

.detail-guide 
.det-cur {
	color: #666;
	padding-left: 5px
}

.pro_d{ width:1180px; margin:0px auto 0px 31px; padding:30px 0; min-height:550px;}
.pro_d .pro_da{ width:100%;}
.pro_da .pro_dal{ width:452px; float:left;}
#preview{ float:none; margin:0px auto; text-align:center; width:452px;}
.jqzoom{ width:452px; height:384px; position:relative; }
.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:452px; height:120px; padding-top:20px; overflow:hidden; position:relative;}
/*#spec-left{ background:url(../images/p_prev.png) no-repeat; width:14px; height:27px; float:left; cursor:pointer; margin-top:30px;}
#spec-right{background::url(../images/p_right.png) no-repeat; width:14px; height:27px; float:left;cursor:pointer; margin-top:30px; position:absolute; right:0px;}*/
#spec-list{ width:452px; float:left; overflow:hidden; display:inline;}
#spec-list ul li{ float:left; display:inline; width:153px; text-align:left;}
#spec-list ul li img{ border:1px solid #aaa; width:144px; height:118px;}
/*jqzoom*/
.jqzoom{position:relative;padding:0; border:1px solid #aaa;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;border:1px solid #aaa;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:118px;height:86px;border:1px solid #aaa;background:#F0F0F0 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:452px;}
#spec-list div{ margin-top:0; *margin-left:0;}
.pro_da .pro_dar{ width:669px; float:right;}
.pro_da .pro_dar h1{ width:70%; line-height:180%; font-size:24px; color:#000; padding: 46px 18px 6px; border-bottom: 1px solid #aaa;}
.pro_da .pro_dar table{ width:100%; border:0px; font-size:14px; color:#222; text-align:left;}
.pro_da .pro_dar table td{ padding:5px 5px 5px 0;}
.lei{ width:100%; margin:15px 0; text-align:left;}
.lei a{ display:inline-block; *display:inline; zoom:1; height:28px; line-height:28px; font-size:14px; color:#000; border:1px solid #707070; padding:0 12px; margin-right:10px;}
.lei a.xz{ color:#FFF; background:#707070;}
.ra{ width:100%; padding-top:7px;}
.ra li,.ra li .title,.ra li .li_m,.xz_z span,.xz_z em,.num span,.num input{ display:inline-block; *display:inline; zoom:1; height:30px; line-height:30px; vertical-align:top; width:auto; float:left; position:relative;}
.ra li .title{ font-size:14px; color:#707070;}
.xz_z{ width:75px; height:28px; border:1px solid #aaa; position:relative; cursor:pointer;}
.xz_z span{ width:55px; text-align:center; font-size:14px; color:#707070;}
.xz_z em{ width:14px; height:10px; background:url(../../images/product/detail/icon2.png) no-repeat; position:absolute; right:5px; top:10px;}
.ra li{ margin-right:20px;}
.ra li .li_m ul{ width:77px; text-align:left; position:absolute; left:0px; top:30px; background:#FFF; z-index:999; display:none; }
.ra li .li_m ul li{ width:70px; padding-left:5px; font-size:14px; color:#777; height:28px; line-height:28px; text-align:left; border-bottom:1px dashed #aaa; cursor:pointer;}
.price{ width:100%; margin:10px 0; text-align:left; }
.price em{font-size:36px; color:#950000;  font-weight:bold;}
.price i{FONT-SIZE: 12px;}
.scar{ width:100%; margin:45px 0;}
.scar a{ display:block; width:170px; height:40px; line-height:40px; background:#950000; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align:center; color:#FFF; font-size:20px;font-family: "Microsoft Yahei";}
.pro_dm{ width:100%;}
.pro_dm .pro_head{ width:88%; height:45px; background:#E2E2E2;}
.pro_dm .pro_head span{ display:block; width:145px; height:45px; text-align:center; line-height:45px; color:#FFF; font-size:16px; background:#960000;font-family: "Microsoft Yahei";}
.pro_dm .pm_ctn{ width:1100px; padding:20px 40px; text-align:center; overflow:hidden;}

.scar a, .scar a.link, .scar a:visited, .scar a:active, {
    color: #fff;
    text-decoration: none;
}

.scar a:HOVER {
	 text-decoration: none;
	 color: #fff;
}
.lei a:HOVER {
	 text-decoration: none;
	 color: #000;
}

/* 数量增加减少 	 */
.count {
	width: 200px;
	height: 30px;
	line-height: 25px;
}

.count span {
	float:left;
}

.gw_num {
	border: 1px solid #dbdbdb;
	width: 110px;
	line-height: 26px;
	overflow: hidden;
	line-height: 29px;
}

.gw_num em {
	display: block;
	height: 26px;
	width: 26px;
	float: left;
	color: #7A7979;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer;
}

.gw_num .num {
	display: block;
	float: left;
	text-align: center;
	width: 52px;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	border: 0;
}

.gw_num em.add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}

.dIcon {
    background: url(../../images/others/d-icon.png) no-repeat 0 0;
    _background: url(../../images/others/d-icon-8.png) no-repeat 0 0
}

/* 加入购物车 */
.u-buy-lay {
    width: 460px;
    height: 312px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -156px 0 0 -230px;
    background: #fff;
    border: 6px solid #ccc;
    display: none;
    z-index: 1002;
}

.u-buy-con {
    height: 262px;
    padding: 30px 30px 20px;
    box-shadow: 0 0 2px 0 #888;
    overflow: hidden
}

.u-buy-con .u-buy-gon {
    height: 34px;
    padding: 11px 0 19px;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    font-size: 0;
    vertical-align: middle
}

.u-buy-gon a {
    display: inline-block;
    width: 94px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    vertical-align: middle
}

.u-buy-gon .u-buy-go {
    background: #c33;
    color: #fff;
    border: 1px solid #c33
}

.u-buy-gon .u-buy-g {
    background: #fbfbfb;
    color: #666;
    border: 1px solid #ddd;
    margin-right: 12px
}

.u-buy-gon .u-buy-go:hover {
    color: #fff
}

.u-buy-gon .u-buy-g:hover {
    color: #666
}

.u-buy-gon a:hover {
    text-decoration: none
}

.u-buy-ok,.u-buy-no {
    height: 28px;
    line-height: 28px;
    font-size: 0;
    vertical-align: middle;
    text-align: center
}

.u-buy-ok i,.u-buy-no i {
    background-position: 0 -40px;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle
}

.u-buy-ok i {
    background-position: -201px -55px
}

.u-buy-no i {
    background-position: -169px -55px
}

.u-buy-ok span,.u-buy-no span {
    height: 28px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    padding-left: 10px;
    vertical-align: middle
}

.u-buy-close {
    background-position: -230px -19px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px
}

.u-buy-tit {
    color: #999;
    height: 36px;
    line-height: 36px;
    font-family: "微软雅黑"
}

.u-collect-list {
    width: 100%;
    overflow: hidden;
    position: relative
}

.u-collect-list ul {
    width: 450px
}

.u-collect-list li {
    float: left;
    width: 82px;
    display: inline;
    margin: 0 24px 0 0
}

.u-collect-list li .u-notice-pic {
    width: 80px;
    height: 80px;
    border: 1px solid #f0f0f0
}

.u-collect-list li .u-notice-name {
    width: 80px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    padding-top: 3px
}

.u-collect-list li .u-notice-name a {
    color: #999
}

.u-collect-list li .u-notice-price {
    height: 18px;
    line-height: 18px;
    font-family: "微软雅黑";
    color: #c33;
    padding-top: 3px;
    text-align: center
}

/*遮罩层*/
.popMask {
	display: none;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 1001;
	position: fixed;
	left: 0;
	top: 0;
	opacity: .5;
	filter: alpha(opacity = 50);
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop))
}

